.container {
  max-width: 168px;
  max-height: 130px;
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  margin-bottom: 10px;
}

.profileName {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto-Bold';
  margin-bottom: 20px;
}
.profileInfo {
  background-color: white;
  padding: 7px 15px;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Roboto-Regular';
  width: 100%;
}
